.card {
    margin-top: 100px;
}

link {
    text-decoration: none;
}

.LastCard {
    margin-bottom: 100px;
}

.imgCards {
    height: 312px;
    width: 253px;
}

.font{
    color: red;
    text-decoration: line-through;
    font-size: small;
    font-weight: bold;
    opacity: 0.5;
}