.body2 {
    margin-top: 10rem;
    margin-bottom: 10rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul2 {
    color: black;
    font-weight: bold;
}

.barispsw2 {
    display: flex;
    justify-content: space-between;
}

.input2 {
    border: 1px solid #343a40;
}

.judul {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 70px;
}