.input1 {
    width: 60rem;
}

.icon {
    color: white;
    height: 25px;
    width: 25px;
}

.logo {
    font-size: 100px;
}

.semua {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tombol {
    background-color: #343a40;
    color: white;
    border: none;
}

.tombol:hover {
    background-color: #343a40;
}

.belanja {
        background-color: white;
        padding: 2px 10px;
        color: black;
        border-radius: 3px;
        padding: 50px 50px;
}

.belanja:hover {
    background-color: #343a40;
}