.input {
    width: 60rem;
}

.icon {
    color: white;
    height: 25px;
    width: 25px;
}

.semua {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tombol {
    background-color: #343a40;
    border: none;
}